<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
<title>东理IT网内容管理系统-安装程序</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="top">
	<div class="top-logo">
		
	</div>
	<div class="top-link">
		<ul>
			<li><a href="http://www.ecit-it.com" target="_blank">官方网站</a></li>
			<li><a href="http://e.weibo.com/1910620900/" target="_blank">官方微博</a></li>
			<li><a href="http://blog.sina.com.cn/ulihd" target="_blank">官方博客</a></li>
			<li><a href="https://ecit-it.tudu.com/" target="_blank">团队办公室</a></li>
			<li><a href="http://s.hudee.com/1910620900" target="_blank">博客手机端</a></li>
			<li><a href="http://app.zhui.cn/Mobile/Down.aspx?SID=79935&SwitchOS=1" target="_blank">官网手机端下载</a></li>
			<li><a href="https://github.com/huidaoli" target="_blank">GitHub</a></li>
		</ul>
	</div>
	<div class="top-version">
		<!-- 版本信息 -->
		<h2>东理IT网内容管理系统ecit-it</h2>
	</div>
</div>

<div class="main">
	<div class="pleft">
		<dl class="setpbox t1">
			<dt>安装步骤</dt>
			<dd>
				<ul>
					<li class="succeed">许可协议</li>
					<li class="succeed">环境检测</li>
					<li class="succeed">参数配置</li>
					<li class="succeed">正在安装</li>
					<li class="now">安装完成</li>
				</ul>
			</dd>
		</dl>
	</div>
	<div class="pright">
		<div class="pr-title"><h3>安装完成</h3></div>
		<div class="install-msg">
			恭喜您!已成功安装东理IT网内容管理系统.您现在可以:
			<br />
			<?php echo $errmsg; ?>
		</div>
		<div class="over-link fs-14">
			<a href="../index.php?upcache=1">访问网站首页</a>
			<a href="../dede">登录网站后台</a>
		</div>
		<div class="install-msg">
			或者访问东理IT网相关网站:<br />
		</div>
		<div class="over-link">
			<ul>
			<a href="http://www.ecit-it.com" target="_blank">网站</a>
			<a href="http://e.weibo.com/1910620900/" target="_blank">官方微博</a>
			<a href="http://blog.sina.com.cn/ulihd" target="_blank">官方博客</a>
			<a href="https://ecit-it.tudu.com/" target="_blank">团队协同办公室</a>
		</ul>
		</div>
		<div class="over-link">
			<ul>
			<a href="http://s.hudee.com/1910620900" target="_blank">博客手机端下载</a>
			<a href="http://app.zhui.cn/Mobile/Down.aspx?SID=79935&SwitchOS=1" target="_blank">官网手机端下载</a>
			<a href="https://github.com/ecit-it" target="_blank">团队GitHub</a>
			<a href="https://github.com/huidaoli" target="_blank">个人GitHub</a>
		</ul>
		</div>
	</div>
</div>

<div class="foot">
</div>

</body>
</html>
