/* 
本站由
信工IT网 SEO-http://www.ec-it.com
网站站长设计制作
业务联系qq：1069945237
*/
body, ul, li, h1, h2, p { margin: 0pt; padding: 0pt; font-size: 12px; }
a { list-style-type: none; }
a:link { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(153, 153, 153); }
.clear { clear: both; }
.top1 { height: 147px; background: url('../images/top1.gif') repeat scroll 0% 0% transparent; }
.main { width: 906px; margin: auto; }
.logobox { width: 227px; height: 60px; float: left; }
.logobox p { margin: 0px; padding: 0px; background: none repeat scroll 0% 0% rgb(0, 204, 204); }
.logobox h1 { font-size: 12px; color: rgb(255, 255, 255); line-height: 18px; margin: 0px; padding: 0px 0px 30px; }
.navmenu ul { float: right; }
.navmenu li a { color: rgb(112, 112, 112); text-decoration: none; }
.navmenu li a:hover { color: rgb(102, 102, 102); }
.telbox { width: 277px; height: 34px; line-height: 34px; float: right; padding-left: 30px; background-image: url('../images/tel.gif'); }
.telbox span { font-size: 16px; color: rgb(229, 100, 6); font-weight: bold; font-family: Arial,Helvetica,sans-serif; }
ul#nav { text-align: center; float: right; overflow: hidden; }
ul#nav li { float: left; list-style: none outside none; }
ul#nav li a { display: block; width: 90px; height: 45px; padding: 67px 0pt 0pt; font-family: "微软雅黑"; font-size: 14px; color: rgb(112, 112, 112); text-decoration: none; background: url('../images/menubg.png') no-repeat scroll 0pt -112px transparent; }
ul#nav li a:hover { background: url('../images/menubg.png') no-repeat scroll 0pt 0pt transparent; color: rgb(255, 255, 255); text-shadow: 0pt 2px 3px rgb(76, 34, 34); }
ul#nav li a.js:hover { background: url('../images/menubg.png') no-repeat scroll 0pt -112px transparent; }
.content { background: url('../images/contentbg.png') repeat-x scroll 0% 0% transparent; }
.hotnews { height: 45px; line-height: 35px; background: url('../images/hotnews.gif') no-repeat scroll 0% 0% transparent; padding-left: 115px; }
.foot { height: 99px; background-image: url('../images/foot.gif'); }
.flogo { width: 209px; height: 55px; padding-top: 25px; float: left; }
.fmenu { width: 680px; float: right; color: rgb(255, 255, 255); padding-top: 25px; }
.fmenu li { float: right; list-style-type: none; padding: 8px; }
.fmenu li a { color: rgb(255, 255, 255); }
.fmenu li a:hover { color: rgb(168, 183, 54); }
.copyright { width: 680px; float: right; text-align: right; line-height: 35px; }
.comtitle { border-bottom: 1px solid rgb(165, 165, 163); height: 44px; line-height: 44px; font-family: 微软雅黑; }
.combox { width: 917px; line-height: 34px; font-size: 14px; background-image: url('../images/combox.png'); margin: auto; }
.fuwutop { width: 917px; margin: auto; background-image: url('../images/fuwutop.png'); }
.fuwufoot { width: 917px; height: 8px; background-image: url('../images/fuwufoot.png'); margin: auto auto 20px; overflow: hidden; }
.combox ul { padding: 10px 0px 0px 40px; }
.combox li { list-style: none outside none; height: 32px; width: 830px; border-bottom: 1px solid rgb(243, 243, 243); border-top: 1px solid rgb(243, 243, 243); }
.workbanner { height: 114px; text-align: center; background-color: rgb(13, 52, 91); }
.boximgshow { margin: auto; text-align: center; padding-top: 20px; position: relative; }
.boximgshow img { border: 5px solid rgb(204, 204, 204); margin-top: 30px; }
.pagesbg { height: 54px; background-image: url('../images/pagebg.gif'); width: 862px; padding: 0pt 5px; margin: auto; }
.pagesbg span { width: 70px; height: 24px; line-height: 24px; font-weight: bold; margin-top: 15px; text-align: center; background-image: url('../images/pagesbg.gif'); display: block; }
.prv { float: left; }
.next { float: right; background-position: right center; }
.imgbox { border: 5px solid rgb(204, 204, 204); width: 862px; margin: auto; }
.imgbox img { border: medium none; width: 862px; margin: 0pt; }
.imgboxbt { height: 128px; text-align: left; background-image: url('../images/showbt.gif'); }
.imgboxbt ul { border-right: 1px solid rgb(30, 30, 30); margin: 8px 0pt 0pt; padding: 0pt 0pt 0pt 30px; width: 200px; height: 80px; float: left; display: inline; overflow: hidden; }
.imgboxbt li { float: left; border: medium none; color: rgb(195, 195, 195); width: 200px; height: 20px; margin: 0pt; padding: 0pt; display: inline; overflow: hidden; }
.txt { border-left: 1px solid rgb(73, 73, 73); height: 68px; float: left; color: rgb(195, 195, 195); width: 600px; line-height: 22px; font-size: 12px; padding: 6px; margin-top: 8px; display: inline; overflow: hidden; }
.pplist { width: 862px; clear: both; }
.pplist h2 { float: left; padding: 0pt 20px 0pt 30px; color: rgb(204, 204, 204); }
.pplist span { float: right; padding-right: 30px; }
#google1 { height: 33px; line-height: 33px; overflow: hidden; }
/* 
本站由
信工IT网 SEO-http://www.ec-it.com
网站站长设计制作
业务联系qq：1069945237
*/